<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Portfolio Home</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <nav>
        <ul>
            <li class="active">Home</li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <section id="home">
        <img src="~/images/profile.jpeg" alt="profile pic" />
        <h2>Chris Ulanowicz</h2>
        <div id="about">
            <h1>About Me</h1>
            <p>I am a full-stack developer for CasualtyITC working mainly with C#/.NET.</p>
        </div>
    </section>
</body>
</html>    