# DIRECTORIES
####################
.vscode/
bin/
obj/
wwwroot/lib/

# SENSITIVE FILES
##################
appsettings.json


# OS FILES
###################
.DS_Store

# PACKAGES
##################
*.dmg
*.gz
*.jar
*.rar
*.tar
*.zip

# LOGS/DATABASES
#################
*.log
*.sqlite


